body {
    background-color: #1f0121;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(238, 1, 84);
}

.container {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 750px;
}

.row {
    display: flex;
    flex: auto;
}

.square {
    background-color: rgb(61, 22, 36);
    margin: 1px;
    flex: auto;
}

button {
    background-color:  rgb(238, 1, 84);
    border: 2px ridge rgb(213, 98, 138);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#1f0121
}

.hovered {
    background-color: rgb(238, 1, 84);
}